AZURE_AI_KEY=E*********************************
AZURE_AI_ENDPOINT=ai_endpoint_azure

USERNAME=username
PASSWORD=password
HOST=server
DATABASE=db-name

AZURE_SQL_URL=mssql+pyodbc://<username>:<password>@<server>/<database>?driver=ODBC+Driver+18+for+SQL+Server


DATA_PATH ="data/raw/jobs.csv"
DATA_PATH_PROCESSED = "data/processed/dataset_with_skills.csv"
MODEL_ML_PATH = "ml_models/best_salary_model.pkl"

SECRET_KEY=your_secret_key
