# General
.env
docs/
ml_models_saved

# Terraform
.terraform/
*.tfstate
*.tfstate
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
Terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
pyproject.toml
*.lock

# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
.venv/
venv/
.uv/
data/

ml_models
*.pkl